<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>权限管理-后台管理-{$site.SITE_INFO.name}</title>
		<php>
			$addCss=""; $addJs=""; $currentNav ='管理员列表';
		</php>
		<include file="Common:intoHead" />
	</head>

	<body>
		<div class="wrap">
			<include file="Common:head" />
			<div class="mainBody">
				<include file="Common:left" />
				<div id="Right">
					<div class="Item hr">
						<div class="current">管理员列表</div>
						<div style="width: 100px;float: right;"><button type="button" class="btn" onclick="window.location.href='{:U("Access/add_admin")}'">添加管理员</button></div>
					</div>
					<table width="100%" border="0" cellspacing="0" cellpadding="0" class="tab">
						<thead>
							<tr>
								<td>AID</td>
								<td>账号</td>
								<td>备注</td>
								<td>开通时间</td>
								<td>状态</td>
								<td width="150">操作</td>
							</tr>
						</thead>
						<volist name="list" id="vo">
							<tr align="center" aid="{$vo.aid}">
								<td>{$vo.aid}</td>
								<td>{$vo.email}</td>
								<td>{$vo.remark}</td>
								<td>{$vo.time|date='Y-m-d H:i:s',###}</td>
								<td>
									<if condition="$vo.aid eq 1">
										<a class="stateClick" href="javascript:void(0);" index="{$vo.aid}" title="" >--</a><else/>
										<if condition="$vo.status eq 1">
											<a class="stateClick " href="javascript:void(0); " index="{$vo.aid} "  title=" " onclick="onstate({$vo.aid},this) "><img src="/Public/Img/action_1.png " border="0 "></a>
									    <else/>
									    	<a class="stateClick " href="javascript:void(0); " index="{$vo.aid} "  title=" " onclick="onstate({$vo.aid},this) "><img src="/Public/Img/action_0.png " border="0 "></a>
									   </if>
									</if></td>
                                <td><if condition="$vo.email eq C( 'ADMIN_AUTH_KEY') ">--<else/>[ <a href='__URL__/add_admin?aid={$vo.aid}'>编辑</a> ][ <a link="{:U( 'Access/admin_del/',array( 'aid'=>$vo['aid']))}" href="javascript:void(0)" name="{$vo.name}" class="del">删除 </a> ]</if>
								</td>
							</tr>
						</volist>
						<tr><td><td colspan="6" align="right">{$page}</td></td></tr>
					</table>
				</div>
			</div>
		</div>
		<div class="clear"></div>
		<include file="Common:foot" />
	</body>

</html>
<script type="text/javascript">
	// $(".stateClick").click(onstate({$vo.aid},this));

	function onstate(id, v) {
		$.ajax({
			type: "get",
			url: "{:U("Access/admin_change")}",
			data: {
				aid: id
			},
			dataType: "json",
			success: function(data) {
				console.log(data);
				if(data.data == 1) {
					$(v).html('<img src="/Public/Img/action_1.png" border="0">');
				} else if(data.data == 0) {
					$(v).html('<img src="/Public/Img/action_0.png" border="0">');
				}
			}
		})
	}
	$(function() {
		$(".del").click(function() {
			var delLink = $(this).attr("link");
			$this = $(this);
			popup.confirm('你真的打算删除吗?', '温馨提示', function(action) {
				if(action == 'ok') {
					delByLink(delLink, $this);
				}
			});
			return false;
		});
	});
</script>