<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>后台管理-{$site.SITE_INFO.name}</title>
    <php>
        $addCss="";
        $addJs="";
        $currentNav ='编辑普法宣传视频';
    </php>
    <include file="Common:intoHead" />
  	<link href="/web/jqueryProgress/css/jquery-ui-1.8.16.custom.css" rel="stylesheet" type="text/css"/>
	<link href="/web/jqueryProgress/css/main.css" rel="stylesheet" type="text/css" />
  	<style>
      body{
      	background:#fff;
      }
  	</style>
</head>
<body>
<div class="wrap"> <include file="Common:head" />
    <div class="mainBody"> <include file="Common:left" />
        <div id="Right">
            <div class="contentArea">
                <div class="Item hr">
                    <div class="current">编辑普法宣传视频</div>
                </div>
                <form method="post" enctype="multipart/form-data">
                    <table width="100%" border="0" cellspacing="0" cellpadding="0" class="table1">
                        <tr>
                            <th width="120">普法宣传视频标题：</th>
                            <td>
                                <input type="text" name="title" class="input uname" size="40" value="{$list.title}"/>
                            </td>
                        </tr>
                        <tr>
                            <th width="120">普法宣传视频封面图：</th>
                            <td>
                                <input type="file" name="cover">
                            </td>
                        </tr>
                        <tr>
                        <th width="120"></th>
                            <td>
                                <if condition="$list['cover'] neq ''">
                                <div style="width:300px;height:200px;">
                                    <img src="{$list.cover}" style="width:200px;height:200px;">
                                </div>
                                </if>
                            </td>
                        </tr>
                         <tr>
                            <th width="120">视频类型：</th>
                            <td>
                                <select name="type_id">
                                    <option value="0">请选择</option>
                                <volist name="type" id="vo">
                                    <option value="{$vo.id}" <if condition="$vo['id'] eq $list['type_id']">selected</if>>{$vo.name}</option>
                                </volist>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <th width="120">普法宣传视频：</th>
                            <td>
                                <input type="file" name="img_url">
                            </td>
                        </tr>
                        <tr>
                            <th width="120"></th>
                            <td>
                                <if condition="$list['img_url'] neq ''">
                                    <video src="{$list.img_url}"  controls="controls" style="width:473px;height:272px;"></video>
                                </if>
                            </td>
                        </tr>
                    </table>
      				<!--上传进度-->
      		<div style="display:flex;align-items:center;width:100%;">
      		<span>文件上传进度：</span>
          	<div class="example" style="width:300px;height:32px;margin:20px;padding:0">
              
        		<div id="progress1">
            		<div class="percent" id="progress_percent" style="height:14px;"></div>
                  	<div class="pbar ui-progressbar ui-widget ui-widget-content ui-corner-all" style="height:15px;" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0">
                      	<div class="ui-progressbar-value ui-widget-header ui-corner-left" style="height:15px;display: none; width: 0%;"></div>
                  	</div>
            		<div class="elapsed"></div>
        		</div>
    		</div>
      		</div>
          	<!---->
                    <input type="hidden" name="id" value="{$list.id}"/>
                    <div class="commonBtnArea" >
                        <span class="btn submit">提交</span>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="clear"></div>
<include file="Common:foot" />
<script type="text/javascript" src="/web/jqueryProgress/js/jquery-ui-1.8.16.custom.min.js"></script>
<script type="text/javascript">
       $(function(){
           $(".submit").click(function(){
            //$("body").addClass("scroll-off");
			//var mask = '<div class="mask" ele="full_screen"><div style="">数据上传中...</div></div>';
			//$("body").append(mask);
            commonAjaxSubmit();
           });
       });
</script>
</body>
</html>

