<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>后台管理-{$site.SITE_INFO.name}</title>
    <php>
        $addCss="";
        $addJs="";
        $currentNav ='编辑基层法律工作者';
    </php>
    <include file="Common:intoHead" />
</head>
<body>
        <div id="Right" style="float:none;width:100%">
            <div class="contentArea">
                <div class="Item hr">
                    <div class="current">编辑基层法律工作者</div>
                </div>
                <form method="post" enctype="multipart/form-data">
                    <table width="100%" border="0" cellspacing="0" cellpadding="0" class="table1">
                        <tr>
                            <th width="120">姓名:</th>
                            <td>
                                <input type="text" name="xm" class="input uname" size="40" value="{$list.xm}"/>
                            </td>
                            <th width="120">性别:</th>
                            <td>
                                <input type="text" name="xb" class="input uname" size="40" value="{$list.xb}"/>
                            </td>
                             <th width="120">民族:</th>
                            <td>
                                <input type="text" name="mz" class="input uname" size="40" value="{$list.mz}"/>
                            </td>
                        </tr>
                        <tr>
                            <th width="120">用户密码:</th>
                            <td>
                                <input type="password" name="pwd" class="input uname" size="40" value="{$list.pwd}"/>
                            </td>
                            <th width="120">身份证号:</th>
                            <td>
                                <input type="text" name="sfzh" class="input uname" size="40" value="{$list.sfzh}"/>
                            </td>
                            <th width="120">手机号码:</th>
                            <td>
                                <input type="text" name="sjhm" class="input uname" size="40" value="{$list.sjhm}"/>
                            </td>
                        </tr>  
                        <tr>
                            <th width="120">学历:</th>
                            <td>
                                <input type="text" name="xl" class="input uname" size="40" value="{$list.xl}"/>
                            </td>
                            <th width="120">政治面貌:</th>
                            <td>
                                <input type="text" name="zzmm" class="input uname" size="40" value="{$list.zzmm}"/>
                            </td>
                            <th width="120">工作单位标识:</th>
                            <td>
                                <if condition="$list['gzdw'] neq ''">
                                <input type="text" name="gzdw" class="input uname" size="40" value="{$list.gzdw}" readonly="readonly" />
                                <else />
                                <input type="text" name="gzdw" class="input uname" size="40" value="{$gid}" readonly="readonly" />
                                </if>
                            </td>
                        </tr>
                        <tr>
                            <th width="120">照片:</th>
                            <td>
                                <input type="file" name="zp" class="input uname" size="40" value="{$list.zp}"/>
                            </td>
                            <th width="120">起始年度:</th>
                            <td>
                                <input type="date" name="qsnd" class="input uname" size="40" value="{$list.qsnd}"/>
                            </td>
                            <th width="120">颁证时间:</th>
                            <td>
                                <input type="date" name="bzsj" class="input uname" size="40" value="{$list.bzsj}"/>
                            </td>
                        </tr>
                        <tr>
                            <th width="120">年检情况:</th>
                            <td>
                                <input type="text" name="njqk" class="input uname" size="40" value="{$list.njqk}"/>
                            </td>
                            <th width="120">最后年检时间:</th>
                            <td>
                                <input type="date" name="zhnjsj" class="input uname" size="40" value="{$list.zhnjsj}"/>
                            </td>
                            
                            <th width="120">执业证号:</th>
                            <td>
                                <input type="text" name="zyzh" class="input uname" size="40" value="{$list.zyzh}"/>
                            </td>
                        </tr>
                        <tr>
                            <th width="120">职务:</th>
                            <td>
                                <input type="text" name="zw" class="input uname" size="40" value="{$list.zw}"/>
                            </td>
                            <th width="120">执业行政区划:</th>
                            <td>
                                <input type="text" name="zyxzqh" class="input uname" size="40" value="{$list.zyxzqh}"/>
                            </td>
                            <th width="120">电话:</th>
                            <td>
                                <input type="text" name="lxdh" class="input uname" size="40" value="{$list.lxdh}"/>
                            </td>
                            
                        </tr>
                        <tr>
                            <th width="120">业务专长:</th>
                            <td>
                                <input type="text" name="ywzc" class="input uname" size="40" value="{$list.ywzc}"/>
                            </td>
                            <th width="120">个人简介:</th>
                            <td>
                                <textarea name="grjj"/>{$list.grjj}</textarea>
                            </td>
                            <th width="120">状态</th>
                            <td>
                                <input type="text" name="zt" class="input uname" size="40" value="{$list.zt}"/>
                            </td>
                        </tr>   
                    </table>
                    <input type="hidden" name="id" value="{$list.id}"/>
                    <input type="hidden" name="gid" value="{$gid}"/>
                    <div class="commonBtnArea" style="width:100%;right:auto;">
                        <span class="btn submit">提交</span>
                        <span class="btn back">返回</span>
                    </div>
                </form>
            </div>
        </div>
<js href="--PUBLIC--/kindeditor/kindeditor.js,--PUBLIC--/kindeditor/lang/zh_CN.js"/>
<script type="text/javascript">
        $(function(){

             var  content ;
             KindEditor.ready(function(K) {
                 content = K.create('.content',{
                     allowFileManager : true,
                     uploadJson:'--PUBLIC--/kindeditor/php/upload_json.php?dirname=news',
                     afterBlur: function () { this.sync(); },
                 });
             });

             KindEditor.ready(function(K) {
                 K.create();
                 var editor = K.editor({
                     allowFileManager : true,
                     uploadJson:'--PUBLIC--/kindeditor/php/upload_json.php?dirname=news'
                     //sdl:false
                 });
             });
             $(".back").click(function(){
                var id = $("input[name='gid']").val()
                var url='__URL__/fw_member?id='+id;
                showFirme(url)
             })
            $(".submit").click(function(){
             if($('#title').val()==''){
                 popup.error('标题不能为空！');
                 return false;
             }
             var url='__URL__/fw_member_add';
             commonAjaxSubmits(url);
             return false;
            });
            });
</script>
</body>
</html>

