<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>后台管理-{$site.SITE_INFO.name}</title>
    <php>
        $addCss="";
        $addJs="";
        $currentNav ='编辑律师事务所';
    </php>
    <include file="Common:intoHead" />
</head>
<body>
        <div id="Right" style="float:none;width:100%">
            <div class="contentArea">
                <div class="Item hr">
                    <div class="current">编辑律师事务所</div>
                </div>
                <form method="post" enctype="multipart/form-data">
                    <table width="100%" border="0" cellspacing="0" cellpadding="0" class="table1">
                        <tr>
                            <th width="120">律师事务所名称：</th>
                            <td>
                                <input type="text" name="jgmc" class="input uname" size="40" value="{$list.jgmc}"/>
                            </td>
                            <th width="120">英文名称:</th>
                            <td>
                                <input type="text" name="ywmc" class="input uname" size="40" value="{$list.ywmc}"/>
                            </td>
                            <th width="120">简称:</th>
                            <td>
                                <input type="text" name="jc" class="input uname" size="40" value="{$list.jc}"/>
                            </td>
                        </tr>
                        <tr>
                            <th width="120">统一社会信用代码:</th>
                            <td>
                                <input type="text" name="tyshxydm" class="input uname" size="40" value="{$list.tyshxydm}"/>
                            </td>
                            <th width="120">主管机关ID:</th>
                            <td>
                                <input type="text" name="zgjgid" class="input uname" size="40" value="{$list.zgjgid}"/>
                            </td>
                            <th width="120">住所地:</th>
                            <td>
                                <input type="text" name="dz" class="input uname" size="40" value="{$list.dz}"/>
                            </td>
                        </tr>
                       
                        <tr>
                            <th width="120">住所电话:</th>
                            <td>
                                <input type="text" name="dh" class="input uname" size="40" value="{$list.dh}"/>
                            </td>
                            <th width="120">传真:</th>
                            <td>
                                <input type="text" name="cz" class="input uname" size="40" value="{$list.cz}"/>
                            </td>
                            <th width="120">单位网站:</th>
                            <td>
                                <input type="text" name="dwwz" class="input uname" size="40" value="{$list.dwwz}"/>
                            </td>
                        </tr>
                        <tr>
                            <th width="120">执业证号:</th>
                            <td>
                                <input type="text" name="zyzh" class="input uname" size="40" value="{$list.zyzh}"/>
                            </td>
                            <th width="120">组织形式:</th>
                            <td>
                                <input type="text" name="zzxs" class="input uname" size="40" value="{$list.zzxs}"/>
                            </td>
                            <th width="120">批准设立时间:</th>
                            <td>
                                <input type="date" name="pzslsj" class="input uname" size="40" value="{$list.pzslsj}"/>
                            </td>
                        </tr>
                        <tr>
                            <th width="120">负责人:</th>
                            <td>
                                <input type="text" name="fzrid" class="input uname" size="40" value="{$list.fzrid}"/>
                            </td>
                            <th width="120">发证日期:</th>
                            <td>
                                <input type="date" name="fzrq" class="input uname" size="40" value="{$list.fzrq}"/>
                            </td>
                            <th width="120">形象标识:</th>
                            <td>
                                <input type="file" name="logo"/>
                            </td>
                        </tr>
                        <tr>
                            <th width="120">行政区划:</th>
                            <td>
                                <input type="text" name="xzqh" class="input uname" size="40" value="{$list.xzqh}"/>
                            </td>
                            <th width="120">经度:</th>
                            <td>
                                <input type="text" name="jd" class="input uname" size="40" value="{$list.jd}"/>
                            </td>
                            <th width="120">纬度:</th>
                            <td>
                                <input type="text" name="wd" class="input uname" size="40" value="{$list.wd}"/>
                            </td>
                        </tr>
                        <tr>
                            <th width="120">简介:</th>
                            <td>
                                <textarea name="jj" cols="30" rows="10">{$list.jj}</textarea>
                            </td>
                            <th width="120">业务专长:</th>
                            <td>
                                <input type="text" name="yezc" class="input uname" size="40" value="{$list.yezc}"/>
                            </td>
                            <th width="120">状态:</th>
                            <td>
                                <input type="radio" name="zt" value="1" <if condition="$list['zt'] eq 1">checked</if>>有效
                                <input type="radio" name="zt" value="0" <if condition="$list['zt'] eq 0">checked</if>>无效
                            </td>
                        </tr>
                         <tr>
                            
                            <th width="120">执业区域：</th>
                            <td>
                                <if condition="$qy_id neq ''">
                                        <input type="hidden" name="qy" value="{$qy_id}">
                                        <volist name="qy" id="vo">
                                            <if condition="$vo['id'] eq $qy_id">{$vo.name}</if>
                                        </volist>
                                    <else />
                                    <select name="qy">
                                    <option value="0">请选择</option>
                                        <volist name="qy" id="vo">
                                            <option value="{$vo.id}" <if condition="$vo['id'] eq $list['qy']">selected</if>>{$vo.name}</option>
                                        </volist>
                                     </select>
                                    </if>
                            </td>
                            
                        </tr>
                    </table>
                    <input type="hidden" name="id" value="{$list.id}"/>
                    <div class="commonBtnArea" style="width:100%;right:auto;">
                        <span class="btn submit">提交</span>
                        <span class="btn back">返回</span>
                    </div>
                </form>
            </div>
        </div>
<js href="--PUBLIC--/kindeditor/kindeditor.js,--PUBLIC--/kindeditor/lang/zh_CN.js"/>
<script type="text/javascript">
        $(function(){

             var  content ;
             KindEditor.ready(function(K) {
                 content = K.create('.content',{
                     allowFileManager : true,
                     uploadJson:'--PUBLIC--/kindeditor/php/upload_json.php?dirname=news',
                     afterBlur: function () { this.sync(); },
                 });
             });

             KindEditor.ready(function(K) {
                 K.create();
                 var editor = K.editor({
                     allowFileManager : true,
                     uploadJson:'--PUBLIC--/kindeditor/php/upload_json.php?dirname=news'
                     //sdl:false
                 });
             });
             $(".back").click(function(){
                var url='__URL__/jg?qy='+index+'&type='+jg+'&cate='+type;
                showFirme(url)
             })
            $(".submit").click(function(){
                
             if($('#title').val()==''){
                 popup.error('标题不能为空！');
                 return false;
             }
             var url='__URL__/ls_add';
             commonAjaxSubmits(url);
             return false;
            });
            });
</script>
</body>
</html>

