<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>后台管理-{$site.SITE_INFO.name}</title>
    <php>
        $addCss="";
        $addJs="";
        $currentNav ='编辑司法所';
    </php>
    <include file="Common:intoHead" />
</head>
<body>
        <div id="Right">
            <div class="contentArea">
                <div class="Item hr">
                    <div class="current">编辑司法所</div>
                </div>
                <form method="post" enctype="multipart/form-data">
                    <table width="100%" border="0" cellspacing="0" cellpadding="0" class="table1">
                        <tr>
                            <th width="120">机构编码:</th>
                            <td>
                                <input type="text" name="jgbm" class="input uname" size="40" value="{$list.jgbm}"/>
                            </td>
                            <th width="120">机构名称:</th>
                            <td>
                                <input type="text" name="jgmc" class="input uname" size="40" value="{$list.jgmc}"/>
                            </td>
                            <th width="120">机构简称:</th>
                            <td>
                                <input type="text" name="jgjc" class="input uname" size="40" value="{$list.jgjc}"/>
                            </td>
                        </tr>
                        <tr>
                            <th width="120">英文名称:</th>
                            <td>
                                <input type="text" name="ywmc" class="input uname" size="40" value="{$list.ywmc}"/>
                            </td>
                            <th width="120">上级机构代码:</th>
                            <td>
                                <input type="text" name="sjjgbm" class="input uname" size="40" value="{$list.sjjgbm}"/>
                            </td>
                            <th width="120">负责人:</th>
                            <td>
                                <input type="text" name="fzr" class="input uname" size="40" value="{$list.fzr}"/>
                            </td>
                        </tr>
                        <tr>
                            <th width="120">联系电话:</th>
                            <td>
                                <input type="text" name="lxdh" class="input uname" size="40" value="{$list.lxdh}"/>
                            </td>
                            <th width="120">传真号码:</th>
                            <td>
                                <input type="text" name="czhm" class="input uname" size="40" value="{$list.czhm}"/>
                            </td>
                            <th width="120">电子邮箱:</th>
                            <td>
                                <input type="text" name="dzyx" class="input uname" size="40" value="{$list.dzyx}"/>
                            </td>
                        </tr>
                        <tr>
                            <th width="120">邮编:</th>
                            <td>
                                <input type="text" name="yb" class="input uname" size="40" value="{$list.yb}"/>
                            </td>
                            <th width="120">地址:</th>
                            <td>
                                <input type="text" name="dz" class="input uname" size="40" value="{$list.dz}"/>
                            </td>
                            <th width="120">官方网址:</th>
                            <td>
                                <input type="text" name="gfwz" class="input uname" size="40" value="{$list.gfwz}"/>
                            </td>
                        </tr>
                        <tr>
                            <th width="120">行政区划:</th>
                            <td>
                                <input type="text" name="xzqh" class="input uname" size="40" value="{$list.xzqh}"/>
                            </td>
                            <th width="120">经度:</th>
                            <td>
                                <input type="text" name="jd" class="input uname" size="40" value="{$list.jd}"/>
                            </td>
                            <th width="120">纬度:</th>
                            <td>
                                <input type="text" name="wd" class="input uname" size="40" value="{$list.wd}"/>
                            </td>
                        </tr>
                        <tr>
                            <th width="120">执业区域：</th>
                            <td>
                                <if condition="$qy_id neq ''">
                                        <input type="hidden" name="qy" value="{$qy_id}">
                                        <volist name="qy" id="vo">
                                            <if condition="$vo['id'] eq $qy_id">{$vo.name}</if>
                                        </volist>
                                <else />
                                <select name="qy">
                                <option value="0">请选择</option>
                                    <volist name="qy" id="vo">
                                        <option value="{$vo.id}" <if condition="$vo['id'] eq $list['qy']">selected</if>>{$vo.name}</option>
                                    </volist>
                                 </select>
                                </if>
                            </td>
                            <th width="120">状态:</th>
                            <td>
                                <input type="radio" name="zt" value="1" <if condition="$list['zt'] eq 1">checked</if>>有效
                                <input type="radio" name="zt" value="0" <if condition="$list['zt'] eq 0">checked</if>>无效
                            </td>
                        </tr>
                    </table>
                    <input type="hidden" name="id" value="{$list.id}"/>
                    <div class="commonBtnArea" >
                        <span class="btn submit">提交</span>
                        <span class="btn back">返回</span>
                    </div>
                </form>
            </div>
        </div>
<div class="clear"></div>
<include file="Common:foot" />
<js href="--PUBLIC--/kindeditor/kindeditor.js,--PUBLIC--/kindeditor/lang/zh_CN.js"/>
<script type="text/javascript">
        $(function(){

             var  content ;
             KindEditor.ready(function(K) {
                 content = K.create('.content',{
                     allowFileManager : true,
                     uploadJson:'--PUBLIC--/kindeditor/php/upload_json.php?dirname=news',
                     afterBlur: function () { this.sync(); },
                 });
             });

             KindEditor.ready(function(K) {
                 K.create();
                 var editor = K.editor({
                     allowFileManager : true,
                     uploadJson:'--PUBLIC--/kindeditor/php/upload_json.php?dirname=news'
                     //sdl:false
                 });
             });
             $(".back").click(function(){
                var url='__URL__/jg?qy='+index+'&type='+jg+'&cate='+type;
                showFirme(url)
             })
            $(".submit").click(function(){
             if($('#title').val()==''){
                 popup.error('标题不能为空！');
                 return false;
             }
             var url='__URL__/xzjg_add';
             commonAjaxSubmits(url);
             return false;
            });
            });
</script>
</body>
</html>

