<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>后台管理-{$site.SITE_INFO.name}</title>
    <php>
        $addCss="";
        $addJs="";
        $currentNav ='编辑司法所人员';
    </php>
    <include file="Common:intoHead" />
</head>
<body>
        <div id="Right" style="float:none;width:100%">
            <div class="contentArea">
                <div class="Item hr">
                    <div class="current">编辑司法所人员</div>
                </div>
                <form method="post" enctype="multipart/form-data">
                    <table width="100%" border="0" cellspacing="0" cellpadding="0" class="table1">
                        <tr>
                            <th width="120">人员编码:</th>
                            <td>
                                <input type="text" name="rybm" class="input uname" size="40" value="{$list.rybm}"/>
                            </td>
                            <th width="120">姓名:</th>
                            <td>
                                <input type="text" name="xm" class="input uname" size="40" value="{$list.xm}"/>
                            </td>
                            <th width="120">性别:</th>
                            <td>
                                <input type="text" name="xb" class="input uname" size="40" value="{$list.xb}"/>
                            </td>
                        </tr>
                        <tr>
                            <th width="120">所属机构编码:</th>
                            <td>
                                <if condition="$list['ssjgbm'] neq ''">
                                <input type="text" name="ssjgbm" class="input uname" size="40" value="{$list.ssjgbm}" />
                                <else />
                                <input type="text" name="ssjgbm" class="input uname" size="40" value="{$jgbm}" />
                                </if>
                            </td>
                            <th width="120">密码:</th>
                            <td>
                                <input type="password" name="pwd" class="input uname" size="40" value=""/>
                            </td>
                            <th width="120">政治面貌:</th>
                            <td>
                                <input type="text" name="zzmm" class="input uname" size="40" value="{$list.zzmm}"/>
                            </td>
                        </tr>
                        <tr>
                            <th width="120">照片:</th>
                            <td>
                                <input type="file" name="zp" class="input uname" size="40" value="{$list.zp}"/>
                            </td>
                            <th width="120">姓名汉语拼音:</th>
                            <td>
                                <input type="text" name="xmhypy" class="input uname" size="40" value="{$list.xmhypy}"/>
                            </td>
                            <th width="120">民族:</th>
                            <td>
                                <input type="text" name="mz" class="input uname" size="40" value="{$list.mz}"/>
                            </td>
                        </tr>
                        <tr>
                            <th width="120">职务:</th>
                            <td>
                                <input type="text" name="zw" class="input uname" size="40" value="{$list.zw}"/>
                            </td>
                            <th width="120">学历:</th>
                            <td>
                                <input type="text" name="xl" class="input uname" size="40" value="{$list.xl}"/>
                            </td>
                            <th width="120">电子邮箱</th>
                            <td>
                                <input type="text" name="dzyx" class="input uname" size="40" value="{$list.dzyx}"/>
                            </td>
                        </tr>
                        <tr>
                            <th width="120">学位:</th>
                            <td>
                                <input type="text" name="xw" class="input uname" size="40" value="{$list.xw}"/>
                            </td>
                            <th width="120">手机号码:</th>
                            <td>
                                <input type="text" name="sjhm" class="input uname" size="40" value="{$list.sjhm}"/>
                            </td>
                            <th width="120">身份证号:</th>
                            <td>
                                <input type="text" name="sfzh" class="input uname" size="40" value="{$list.sfzh}"/>
                            </td>
                        </tr>
                        <tr>
                            <th width="120">联系电话:</th>
                            <td>
                                <input type="text" name="lxdh" class="input uname" size="40" value="{$list.lxdh}"/>
                            </td>
                            <th width="120">业务专长:</th>
                            <td>
                                <input type="text" name="ywzc" class="input uname" size="40" value="{$list.ywzc}"/>
                            </td>
                        </tr>
                    </table>
                    <input type="hidden" name="id" value="{$list.id}"/>
                    <input type="hidden" name="gid" value="{$gid}"/>
                    <div class="commonBtnArea" >
                        <span class="btn submit">提交</span>
                        <span class="btn back">返回</span>
                    </div>
                </form>
            </div>
        </div>
<div class="clear"></div>
<include file="Common:foot" />
<js href="--PUBLIC--/kindeditor/kindeditor.js,--PUBLIC--/kindeditor/lang/zh_CN.js"/>
<script type="text/javascript">
        $(function(){

             var  content ;
             KindEditor.ready(function(K) {
                 content = K.create('.content',{
                     allowFileManager : true,
                     uploadJson:'--PUBLIC--/kindeditor/php/upload_json.php?dirname=news',
                     afterBlur: function () { this.sync(); },
                 });
             });

             KindEditor.ready(function(K) {
                 K.create();
                 var editor = K.editor({
                     allowFileManager : true,
                     uploadJson:'--PUBLIC--/kindeditor/php/upload_json.php?dirname=news'
                     //sdl:false
                 });
             });
             $(".back").click(function(){
                var id = $("input[name='gid']").val()
                var url='__URL__/xzjg_member?id='+id;
                showFirme(url)
             })
            $(".submit").click(function(){
             if($('#title').val()==''){
                 popup.error('标题不能为空！');
                 return false;
             }
             var url='__URL__/xzjg_member_add';
             commonAjaxSubmits(url);
             return false;
            });
            });
</script>
</body>
</html>

