<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>网站注册会员管理-后台管理首页-{$site.SITE_INFO.name}</title>
        <php>
            $addCss="";
            $addJs="";
            $currentNav ='会员级别汇率管理 > 会员级别汇率列表';
        </php>
        <include file="Common:intoHead" />
    </head>
    <body>
        <div class="wrap">
            <include file="Common:head" />
            <div class="mainBody">
                <include file="Common:left" />
                <div id="Right">
                    <div class="Item hr">
                        <div class="current">会员级别汇率管理</div>
                        <div style="width: 100px;float: right;margin-right: 50px;"><button type="button" class="btn" onclick="window.location.href='{:U('Product/add_memberlevel')}'">添加会员级别汇率</button></div>
                    </div>
                    <table width="100%" border="0" cellspacing="0" cellpadding="0" class="tab">
                        <thead>
                        <tr>
                            <td>ID</td>
                            <td>名称</td>
                            <td>特殊利率</td>
                            <td>初始利率</td>
                            <td>递减利率</td>
                            <td width="150">操作</td>
                        </tr>
                        </thead>
                        <volist name="list" id="vo">
                            <tr align="center" id="{$vo.id}">
                                <td align="left">{$vo.id}</td>
                                <td>{$vo.name}</td>
                                <td>{$vo.special_rate}</td>
                                <td>{$vo.initial_rate}%</td>
                                <td>{$vo.degression_rate}%</td>
                                <td>[ <a link="{:U('Member/recharge_del/',array('recharge_id'=>$vo['recharge_id']))}" href="javascript:void(0)" class="del">删除 </a> ]</td>
                            </tr>
                        </volist>
                        <tr><td colspan="6" align="right">{$page}</td></tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="clear"></div>
        <include file="Common:foot" />
        <script type="text/javascript">
            $(function(){
                $(".del").click(function(){
                    var delLink=$(this).attr("link");
            
                    popup.confirm('你真的打算删除此记录吗?','温馨提示',function(action){
                        if(action == 'ok'){
                            top.window.location.href=delLink;
                        }
                    });
                    return false;
                });
            });
        </script>
    </body>
</html>
