<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title>弘毅财智-登录</title>
		<link rel="stylesheet" href="__CSS__/login.css">
		<!-- <script src="lib/jquery-1.11.3/jquery.js"></script> -->
		<script src="__LIB__/jquery-1.9.1/jquery.js"></script>
	</head>
	<body>
		<div class="header">
			<a href="index.html"><img src="__IMG__/logo.png" alt=""></a>
		</div>
		<div class="content">
			
			<div class="content_table">
				<div class="tit">账户登录</div>
				<ul class="list">
					<li>
						<span class="userName"></span><input type="text"  class="tel" placeholder="输入用户名"/>
					</li>
					<li>
						<span class="pswd"></span><input type="password"  class="password" placeholder="输入密码" />
					</li>
					<li class="idCodeBox">
						<span class="idCode"></span><input type="text" class="yzm" placeholder="输入验证码" />
					</li>
					<li class="yzmBox">
						<img src="http://jr.wokerr.com/index.php/home/login/photo_yzm" alt="验证码" onclick="this.src='http://jr.wokerr.com/index.php/home/login/photo_yzm?'+Math.random()">
					</li>

				</ul>					
				<div class="loginBtn" >登录</div>
				<div class="forgetPassword"><a href="forgetPassword.html">忘记密码？</a></div>
			</div>
		</div>
		<div class="footer">
			<div class="footer_content">
				<div class="footer_btn">
					<a href="../Index/index.html" style="font-weight: 600;">首页</a>
					<span>|</span>
					<a href="../Product/productDisplay.html" style="font-weight: 600;">产品展示</a>
					<span>|</span>
					<a href="../Promoter/extensionSystem.html" style="font-weight: 600;">推广员系统</a>
					<span>|</span>
					<a href="../Safe/safe1.html" style="font-weight: 600;">安全保证</a>
					<span>|</span>
					<a href="../Problem/problem.html" style="font-weight: 600;">问题回答</a>
				</div>
				<p class="copyright" style="font-weight: 600;">Copyright © 2004-2018  弘毅财智HY.com 版权所有</p>
			</div>
		</div>
<!-- --------------------------------------------------------- -->
	<script src="__JS__/operateCookie.js"></script>
	<script>
		setCookie("access_token","",7);
		setCookie("uid","",5);
		var $tel = $(".tel");
		var $password = $(".password");
		var $yzm = $(".yzm");
		var loginURL = 'http://jr.wokerr.com/index.php/home/login/login';
		var yzmURL = 'http://jr.wokerr.com/index.php/home/login/photo_yzm';
		$(".loginBtn").click(function() {
			var tel = $.trim($tel.val());
			var password = $.trim($password.val());
			var yzm = $.trim($yzm.val());
			if (tel != "" && password != "") {
				if (yzm != "") {
                    $.ajax({
                    	type:"post",
                    	url:loginURL,
                    	data:{user_name: tel,user_password: password,verify_code: yzm},
                    	dataType:"json",
                    	success:function(data){
                    		console.log(data);
                    		if (data.state == "1") {
								setCookie("access_token",data.access_token,7);
								setCookie("uid",data.uid,5);
								// 登录成功！！
								window.location.href = "../Index/index.html";
							
							}else{
								setCookie("access_token","",7);
								alert(data.msg);
							}
                    	}
                    })
				}else{
					alert("请输入验证码！");
				}
			}else{
				alert("用户名和密码不能为空！");
			}
		});

		//版权
$.ajax({
	type:"post",
	url:"http://jr.wokerr.com/index.php/Home/Index/cu_info",
	async:false,
	data:{},
	dataType:"json",
	success:function(data){
		console.log(data);
		$(".copyright").html(data.data.copyright);
	}
});
	</script>
	</body>
</html>
