<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>后台管理-{$site.SITE_INFO.name}</title>
    <php>
        $addCss="";
        $addJs="";
        $currentNav ='编辑案例分类';
    </php>
    <include file="Common:intoHead" />
</head>
<body>
<div class="wrap"> <include file="Common:head" />
    <div class="mainBody"> <include file="Common:left" />
        <div id="Right">
            <div class="contentArea">
                <div class="Item hr">
                    <div class="current">编辑案例分类</div>
                </div>
                <form method="post" enctype="multipart/form-data">
                    <table width="100%" border="0" cellspacing="0" cellpadding="0" class="table1">
                        <tr>
                            <th width="120">案例分类名称：</th>
                            <td>
                                <input type="text" name="name" class="input uname" size="40" value="{$list.name}"/>
                            </td>
                        </tr>
                        <tr>
                    </table>
                    <input type="hidden" name="id" value="{$list.id}"/>
                    <div class="commonBtnArea" >
                        <span class="btn submit">提交</span>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="clear"></div>
<include file="Common:foot" />
<script type="text/javascript">
       $(function(){
           $(".submit").click(function(){
            commonAjaxSubmit();
           });
       });
</script>
</body>
</html>

