<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title>弘毅财智-问题回答</title>
		<link rel="stylesheet" href="__CSS__/common.css">
		<link rel="stylesheet" href="__CSS__/problem.css">
		<!-- <script src="lib/jquery-1.11.3/jquery.js"></script> -->
		<script src="__LIB__/jquery-1.9.1/jquery.js"></script>
	</head>
	<body>
		<div class="header">
			<div class="header_content">
				<a href="../Index/index.html"><img src="__IMG__/logo.png" alt=""></a>
				<div class="header_btn">
					<a href="../Index/index.html" class="active">首页</a>
					<a href="../Product/productDisplay.html" class="blur">产品展示</a>
					<a href="../Promoter/extensionSystem.html" class="blur">推广员系统</a>
					<a href="../Safe/safe1.html" class="blur">安全保证</a>
					<a href="problem.html" class="blur">问题回答</a>
					<a href="../Login/login1.html"  class="blur login">登录</a>
					<a href="../Login/register1.html"  class="blur register">免费注册</a>					
				</div>
			</div>
		</div>
		<div class="content">
			<div class="bgimg">
				<img src="__IMG__/banner.png" alt="">
			</div>
			<div class="problem">
				<p>问题解答</p>
				 <!--<div class="answer">
					<p>1Q：ETF指数基金怎么购买？</p>
					<div> A：指数基金在每月1日9:00开启购买通道，届时可以通过官网点击我要理财→选择ETF指数基金→确定购买金额→确定投资协 议→支付宝支付（或者银行转账支付）。</div>
				</div>
				<div class="answer">
					<p>2Q：ETF指数基金收益这么高会不会风险也很高?</p>
					<div>  A：ETF基金虽然收益高，但是我们在其中加入了40%的套利基金，可以帮助客户分担掉一些风险，帮客户做到保本的程度</div>
				</div>
				<div class="answer">
					<p>3Q：OTC套利基金怎么购买?</p>
					<div>  A：可以通过官网点击我要理财→选择OTC套利基金→在OTC套利基金页面选择您需要购买的周期，周期分别为一个月，三个 月，半年，一年。点击购买后确认投资协议和购买金额→支付宝支付（或者银行转账支付）。</div>
				</div>
				<div class="answer">
					<p>4Q：我的身份验证一直在审核中怎么办?</p>
					<div>   A：您可以直接联系我们官网在线客服，提供您的用户名客服会帮您手动通过验证。</div>
				</div>
				<div class="answer">
					<p>5Q：如果我购买了一年期我中途可以退出吗?</p>
					<div>   A：可以退出，在后期我们会提供给客户基金资产转让的平台。</div>
				</div> -->
			</div>
		</div>
		<div class="footer">
			<div class="footer_content">
				<div class="contact">
					<div class="contact_our">
						联系我们
					</div>
					<div class="contact_now"><span>电话 ：</span><span>000-000-0000</span></div>
					<div class="contact_now"><span>邮编 ： </span><span>0000002145@qq.com</span></div>
					<div class="contact_now"><span>工作时间 ：</span><span>周一周日（08:00-22：00）</span></div>
				</div>
				
				<div class="address">©2017 马六甲 All rights reserved ICO CHIN PTE LTD</div>
				
				<div class="codeall">
					<div class="code">
					<img src="__IMG__/code.png" alt="">
					<p>微信公众号</p>
				</div>
				<div class="code">
					<img src="__IMG__/code.png" alt="">
					<p>官方QQ群</p>
				</div>
				</div>
			</div>
		</div>
		<script src="__JS__/operateCookie.js"></script>
		<script src="__JS__/common.js"></script>
		<script>
			// 问题回答 ---页面数据请求	
			$.ajax({
				type:"post",
				url:"http://jr.wokerr.com/index.php/home/problem/problemList",
				data:{},
				dataType:"json",
				success:function(data){
					console.log(data);
					var tempHTML="";
					for(var i=0;i<data.data.length;i++){
						tempHTML+='<div class="answer"><p>'+ data.data[i].id +'Q：'+ data.data[i].problem +'?</p><div>   A：'+ data.data[i].answer +'。</div></div>';
					}
					$(".problem").append(tempHTML);
				}
			})

			//版权
$.ajax({
	type:"post",
	url:"http://jr.wokerr.com/index.php/Home/Index/cu_info",
	async:false,
	data:{},
	dataType:"json",
	success:function(data){
		console.log(data);
		var tempHTML="";
		tempHTML='<div class="contact"><div class="contact_our">联系我们</div><div class="contact_now"><span>电话 ：</span><span>'+ data.data.tel +'</span></div><div class="contact_now"><span>邮编 ： </span><span>'+ data.data.email +'</span></div><div class="contact_now"><span>工作时间 ：</span><span>'+ data.data.work_time +'</span></div></div><div class="address">'+ data.data.copyright +'</div><div class="codeall"><div class="code"><img src="http://jr.wokerr.com/Uploads'+ data.data.weixin +'" alt=""><p>微信公众号</p></div><div class="code"><img src="http://jr.wokerr.com/Uploads'+ data.data.qq +'" alt=""><p>官方QQ群</p></div></div>';
		$(".footer_content").html(tempHTML);
	}
});
		</script>
	</body>
</html>
